body {
	font-family: Barlow, sans-serif;
	font-size: 2vh;
	color: white;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 1.2vh 1vw;
	margin: 1vh 0vw;
	display: inline-block;
	border: 0.1vh solid #ccc;
	box-sizing: border-box;
	font-size: 1.2vh;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: rgba(0,0,0,0.7);
}

#rememberMe {
	font-size: 1.5vh;
}

label[for="employee"] {
	position: absolute;
	top: 15vh;
	right: 15vw;
	letter-spacing: 1vh;
	font-size: 3vh;
}

button[type="submit"] {
	background-color: rgba(0,0,0,0.2);
	color: #4CAF50;
	padding: 2vh 5vw;
	margin: 2vh 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 1.5vh;
	border: 0.2vh solid #4CAF50;
	font-weight: bolder;
}

button[type="submit"]:hover {
	transition: 200ms;
	background-color: #4CAF50;
	color: white;
}

.forgotPassword {
	width: auto;
	padding: 1.2vh 2vw;
	margin: 0px;
	border: 0.1vh solid #f44336;
	color: #f44336;
	font-size: 1.5vh;
	background-color: rgba(0,0,0,0.2);
}

.forgotPassword:hover {
	transition: 200ms;
	background-color: #f44336;
	color: white;
}

.container {
	padding: 1vw;
	background-color: rgba(0,0,0,0.1);
}

.modal {
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	right: -25vw;
	top: 20vh;
}

.modal-content {
	border: 0.2vh solid white;
	margin: 2vh auto 2vw auto;
	width: 30vw;
}

.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

#indexBackground {
	width: 100vw;
	position: absolute;
	height: auto;
}
