body {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	font-family: barlow, sans-serif;
	overflow: hidden;
	background-color: #F7F7F7;
}
img {
	position: absolute;
	top: 1.2vh;
	left: 2vw;
	z-index: 2;
	width: 3.5vw;
}

#companyName {
	position: absolute;
	top: 2vh;
	left: 6vw;
	font-size: 4vh;
	letter-spacing: 0.1vw;
	z-index: 2;
	color: black;
}

#navigation {
	position: absolute;
	bottom: 2vh;
	right: 80vw;
}

#nav {
	position: absolute;
	bottom: 5vh;
	z-index: 2;
	width: 100vw;
}

#nav ul li {
	list-style-type: none;
	padding-left: 10vh;
	z-index: 2;
	display: inline;
}

#home {
	position: absolute;
	left: 10vw;
	padding-bottom: 100px;
}

#product {
	position: absolute;
	left: 25vw;
	padding-bottom: 100px;
}

#about {
	position: absolute;
	left: 40vw;
	padding-bottom: 100px;
}

#nav ul li:hover {
	transition: 200ms;
	transform: translateX(15px);
}

#nav ul li a {
	text-decoration: none;
	font-size: 3vh;
	color: white;
	z-index: 2;
	letter-spacing: 0.5vw;
}

#nav ul li a:hover {
	transition: 200ms;
	color: darkgray;
	transform: translateY(-1vh);
}

object {
	height: 100vh;
}

#shade {
	width: 100vw;
	height: 18vh;
	position: absolute;
	background-color: black;
	opacity: 0.5;
	bottom: 0px;
}

#mainContent {
	width: 75vw;
	height: 75vh;
	right: 0px;
	top: 23vh;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#logo {
	position: absolute;
	width: 4vw;
	z-index: 2;
	margin: 0px;
	top: -45vh;
	left: 1vw;
}

#login {
	z-index: 4;
	color: white;
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	border: 0.2vh solid green;
	padding: 1vh 2vw;
	right: 2vw;
	bottom: 7vh;
	cursor: pointer;
	letter-spacing: 0.2vw;
	font-size: 1.5vh;
	color: #034500;
}

#login {
	background-color: white;
	padding: 2vh 4vw;
	bottom: 6vh;
}

#login:hover {
	transition: 300ms;
	background-color: green;
	color: white;
}
